:root {
    font-size: calc(0.5em + 0.75vw);
    --secondary-font: Helvetica, Arial, sans-serif;
    --main-color: #19191d;
    --main-bg: #c5fff0;
    --theme-color: #e5e7e0;
}

body {
    color: var(--main-color);
    background-color: var(--main-bg);
}

button {
    padding: 1em;
    font-size: .8rem;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--main-bg);
}

.panel {
    font-size: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
}

.panel.large {
    font-size: 1.2rem;
}

.panel.small {
    font-size: 0.8rem;
    font-family: var(--secondary-font);
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.square {
    width: 90vmin;
    height: 90vmin;
    background-color: #369;
}
