body {
    font-family: Bahnschrift, sans-serif;
}

body * + * {
    margin-top: 1.5em;
}

.flex > * {
    margin-top: 0;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}
